.main {
  width: 100%;
  min-height: 100%;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.content {
  height: calc(100% - 95px);
  display: flex;
}
