.wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 3px 6px 6px rgba(255, 105, 97, 0.25);
}

.title,
.subTitle {
  color: #4d0400;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.subTitle {
  font-size: 1rem;
  font-weight: 600;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(50, 50, 50);
  border: none;
  border-bottom: 1px solid rgba(255, 105, 97, 0.4);
  outline: none;
}

.input::placeholder {
  font-size: 0.9rem;
  color: gray;
}

.error {
  font-size: 0.6rem;
  font-weight: 400;
  color: red;
}

.loginBtn {
  width: 100%;
  padding: 10px;
  background-color: #4d0400;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.or {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(50, 50, 50);
}

.regText,
.regLink {
  font-size: 0.75rem;
  color: rgb(50, 50, 50);
}

.regText {
  font-weight: 400;
  margin-right: 4px;
}

.regLink {
  font-weight: 500;
}

@media screen and (max-width: 780px) {
  .wrapper {
    width: 320px;
  }

  .subTitle {
    font-size: 1.1rem;
  }

  .input,
  .input::placeholder {
    font-size: 1rem;
  }

  .error {
    font-size: 0.7rem;
  }

  .loginBtn {
    font-size: 1.1rem;
    padding: 15px;
  }

  .or {
    font-size: 0.9rem;
  }

  .regText,
  .regLink {
    font-size: 0.85rem;
  }
}
