.container {
  height: 55px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6961;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.svg {
  width: 22px;
  height: 22px;
}

.homeLink {
  text-decoration: none;
  color: #4d0400;
  font-size: 1.15rem;
  font-weight: 700;
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.action,
.notifications {
  cursor: pointer;
}

.notifications {
  position: relative;
}

.count {
  font-size: 0.7rem;
  font-weight: 600;
  color: #fff;
  background-color: #4d0400;
  padding: 2px 4px;
  border-radius: 10px;
  position: absolute;
  top: -15%;
  right: -10%;
}

.account {
  position: relative;
  width: 30px;
  height: 30px;
}

.img {
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.ctaBtn {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 5px 10px;
  background-color: #fff;
  color: #4d0400;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.ctaBtn:hover {
  background-color: #4d0400;
  color: #fff;
}

@media screen and (max-width: 780px) {
  .svg {
    width: 26px;
    height: 26px;
  }

  .homeLink {
    font-size: 1.3rem;
  }

  .account {
    width: 35px;
    height: 35px;
  }

  .ctaBtn {
    font-size: 1.1rem;
    padding: 7.5px 15px;
  }
}

@media screen and (max-width: 480px) {
  .action:not(:nth-child(1)),
  .notifications {
    display: none;
  }
}
