.container {
  height: 50px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(50, 50, 50);
}

.copy {
  font-size: 0.85rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logoText {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 780px) {
  .container {
    border-top: 1px solid rgba(255, 105, 97, 0.25);
  }
}
